*{

    margin: 0;
    padding: 0;

}

body{

    overflow-x: hidden;
    background: rgb(36, 34, 34);

}

.navbar{

    position: fixed;
    z-index: 100;
    width: 100%;

}

.card{

    margin: 10px;
    background-color: rgb(029,029,028);
    color: white;

}
.list-group-item{

    margin: 5px;
    background-color: rgb(029,029,028);
    color: white;

}

.list-group{

    margin: 10px;
    
}

@media only screen and (max-width: 600px) {

    .card{

        margin: auto;
        font-size: 20px;
        margin-bottom: 10px;

    }
    .list-group{

        text-align: center;

    }

}